<template>
  <div class="hello">
    <h3>{{ $t('message') }}</h3>
    <SelectLocale/>
  </div>
</template>

<script>
  import SelectLocale from '@/components/SelectLocale'

  export default {
    name: 'Home',
    data () {
      return {
      }
    },
    components: {
      SelectLocale: SelectLocale,
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
