<template>
  <div>
    <select v-model="$i18n.locale">
      <option
        v-for="lang in langs"
        :key="lang.lang"
        :value="lang.lang"
      >
        {{ lang.lang }}
      </option>
    </select>
    <flag :iso="currentFlag"/>
  </div>
</template>
<script>
  export default {
    name: 'SelectLocale',
    data () {
      return {
        currentFlag: 'es',
        langs: [{flag: 'es', lang: 'es'}, {flag: 'us', lang: 'en'}, {flag: 'fr', lang: 'fr'}, {flag: 'it', lang: 'it'}]
      }
    },
  }
</script>

<style scoped>

</style>
